# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Jupyter Notebook metadata
*.nbconvert.ipynb

# Virtual environments
venv/
env/
.venv/
.env/

# pipenv
Pipfile.lock

# Poetry
poetry.lock

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# PyInstaller
*.manifest
*.spec

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs and debugging
*.log

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS / Windows system files
.DS_Store
Thumbs.db

# Spyder IDE
.spyderproject
.spyproject

# Jupyter runtime
~$*